ion-menu-button {
  color: var(--ion-color-primary);
}

ion-toolbar {
  padding-top: 25px !important;
  --background: hsl(44, 94%, 51%);
}
#fondo {
  --background: hsl(44, 94%, 51%) !important;
}
#fondoAbajo {
  background-color: white !important;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
ion-searchbar {
  --background: white !important;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.cesta {
  font-size: xx-large;
}

.slide1 {
  width: 50px !important;
  padding-left: 75px !important;
  text-align: start;
}

.slide2 {
  width: 50px !important;
  padding-left: 80px !important;
}
.slide3 {
  width: 50px !important;
  padding-left: 150px !important;
}

ion-label {
  font-size: 15px;
  margin-top: 10px;
  width: 150px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#colocacion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 45px;
  font-size: large;
  width: 100%;
  align-items: center;
  background-color: hsl(44, 94%, 51%) !important;
}

#divspace-around {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fotos {
  margin: 0px auto;
  width: 100px;
}
ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 110px;
  height: 100%;
  text-align: center;
  margin: 0px 0px 0px 20px !important;
}

.slidemiddle {
  width: 379px !important;
}
.precio{
  text-align: start;
  padding-left: 4%;
  color: #a31616;
}

.anteriorPrice{
  text-align: start;
  padding-left: 4%;
  color: grey;
  
}