<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-buttons class="cesta" slot="end">
      <ion-button>
        <ion-icon name="cart" color="black"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide class="slide1">
      <ion-tab-button>
        <ion-label>Popular</ion-label>
      </ion-tab-button>
    </ion-slide>
    <ion-slide class="slide2">
      <ion-tab-button>
        <ion-label>Venta al por mayor</ion-label>
      </ion-tab-button>
    </ion-slide>
    <ion-slide class="slide3">
      <ion-tab-button>
        <ion-label>Zapatos y Accesorios</ion-label>
      </ion-tab-button>
    </ion-slide>
  </ion-slides>

  <div id="colocacion">
    <ion-icon name="grid"></ion-icon>
    <ion-icon name="list"></ion-icon>
  </div>

  <ion-card>
    <ion-card-content>
      <img src="/src/assets/img/banner.PNG" alt="">
    </ion-card-content>
  </ion-card>



</ion-content>