
<ion-content>

  <div class="exit">
    <a routerLink="/cesta">
      <ion-icon name="chevron-back"></ion-icon>
    </a>
  </div>

  <h1>Pago</h1>
  <div class="info">
    <div class="producto">
      <div class="NombreFoto">
        <b>Samsung Galaxy S20</b>
        <img src="../../assets/img/producto1.png" alt="" />
      </div>
      <div class="precio">
        <b class="precioNuevo">899€</b>
        <s class="precioViejo">1000€</s>
      </div>
    </div>

    <p>Método de pago:</p>

    
    
   
  
  </div>
</ion-content>
