<ion-content>

  <div class="exit">
    <a routerLink="/cesta">
      <ion-icon name="chevron-back"></ion-icon>
    </a>
  </div>

  <h1>Pago</h1>
  <div class="info">
    <div class="producto">
      <div class="NombreFoto">
        <b>Samsung Galaxy S20</b>
        <img src="../../assets/img/producto1.png" alt="" />
      </div>
      <div class="precio">
        <b class="precioNuevo">899€</b>
        <s class="precioViejo">1000€</s>
      </div>
    </div>

    <p>Método de pago:</p>
    <div class="metodos">
      <div class="logos">
        <ion-icon name="card-outline"></ion-icon>
        <ion-icon name="logo-paypal"></ion-icon>
        <b class="cuenta">CUENTA <br> BANCARIA</b>
      </div>
        <div class="formasPago">
          <ion-select value="1">
            <ion-select-option value="1" color="tertiary">Visa</ion-select-option>
            <ion-select-option value="2" color="tertiary">PayPal</ion-select-option>
            <ion-select-option value="3" color="tertiary">Cuenta Bancaria</ion-select-option>
          </ion-select>
        </div>
      
    </div>




  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer">

      <div class="especificaciones">
        <b class="precioFinal">899€</b>

        <ion-button color="warning" routerLink="/finalizar">Pagar</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>