.exit {
    margin-top: 25px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    font-size: xx-large;
  }

  .texto{
      font-size: 25px;
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
  }

  .info{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 70%;
      
  }

  .correo{
      text-align: center;
      font-size: small;
      color: gray;
  }