<ion-content>
  <div class="exit">
    <a routerLink="/cesta">
      <ion-icon name="chevron-back"></ion-icon>
    </a>
  </div>

  <h1>Producto</h1>
  <div class="info">
    <div class="producto">
      <div class="NombreFoto">
        <b>Samsung Galaxy S20</b>
        <img src="../../assets/img/producto1.png" alt="" />
      </div>
      <div class="precio">
        <b class="precioNuevo">899€</b>
        <s class="precioViejo">1000€</s>
      </div>
    </div>
    <div class="starDescri"></div>
    <div class="estrellas">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star-outline" color="warning"></ion-icon>
      <span class="votos">1.545 votos</span>
    </div>
    <p class="descripcion">
      Télefono movil de ultima generación con 8Gb de memoria RAM, 256Gb de
      memoria y el novedoso chip Misco65
    </p>
  </div>
</ion-content>
